<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="col-xs-1" align="center">
    <div class="container">
        <div class="row" *ngFor="let task of tasks | keyvalue">
            <div class="col-sm">
                    {{task.value._name}} <span *ngIf="task.value.startTime">- {{task.value._runningTime | timeFormat}}</span>
            </div>
            <div class="col-sm">
                    <button mat-flat-button color="warn" (click)="removeTask(task.value)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button mat-flat-button (click)="updateTask(task.value)"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    <button mat-flat-button *ngIf="!task.value.isActive" (click)="startTask(task.value)"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button mat-flat-button *ngIf="task.value.isActive" (click)="stopTask(task.value)"><i class="fa fa-stop" aria-hidden="true"></i></button>
                    <button mat-flat-button (click)="resetTask(task.value)"><i class="fa fa-backward" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <h3>Total Time: {{totalTime | timeFormat}}</h3>
    <button mat-flat-button color="primary" (click)="openTaskInputDialog()">Create New Task</button>
</div>